@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Dolibarr.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers

@using BTCPayServer.Client

<li class="nav-item" permission="@Policies.CanModifyServerSettings">
    <a asp-controller="UIPlugin" asp-action="Index" class="nav-link @ViewData.IsActivePage(PluginNavPages.Index)">
        <img src="/Resources/img/Dolibarr.png" />&nbsp;
        <span>Dolibarr Plugin</span>
    </a>
</li>
