@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Dolibarr.Views
@model BTCPayServer.Plugins.Dolibarr.Data.DolibarrSettings
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Plugin Template");
}
<h1>@ViewData["Title"]</h1>

<br />
<p>
    This plugin allows you to receive notifications about events occurring on the Bdd server.<br />
    These notifications can be sent to Telegram and/or Slack, specifying a minimum level of severity for each.<br />
    <a href="https://github.com/Nisaba/btcpayserver-plugin-serilog#readme" target="_blank" rel="noreferrer noopener">Documentation here</a>
</p>
<br />

<partial name="_StatusMessage" />

<form method="post" autocomplete="off">

    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="d-flex flex-wrap gap-3 align-items-center justify-content-between mt-n1 mb-4">
                <h4 class="mb-3">
                    Configuration Dolibarr
                    <a href="https://www.dolibarr.com" target="_blank" rel="noreferrer noopener">
                        <svg role="img" class="icon icon-info">
                            <use href="/img/icon-sprite.svg?v=H3J236jgwo6vtqeJl4025BRgw5YYuCXlmUIjG2jBa5A#info"></use>
                        </svg>
                    </a>
                </h4>
                <div class="d-flex align-middle">
                    <button class="btn btn-secondary mt-2" value="Test" name="command">Test</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-sm mt-0 mx-0">
        <tr>
            <td class="border-0 ps-0 align-middle">
                <label asp-for="Url" class="form-label"></label>
                <input asp-for="Url" data-fill="port" class="form-control" placeholder="https://yourdolibar.com/api/" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </td>
            <td width="20" />
            <td class="border-0 ps-0 align-middle">
                <label asp-for="Token" class="form-label"></label>
                <input asp-for="Token" data-fill="port" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </td>
        </tr>
    </table>

    <table class="table table-sm mt-0 mx-0">
        <tr>
            <td class="border-0 ps-0 align-middle">
                <label asp-for="Currency" class="form-label"></label>
                <input asp-for="Currency" data-fill="port" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </td>
            <td width="20" />
            <td class="border-0 ps-0 align-middle">
                <label asp-for="BankAccountID" class="form-label"></label>
                <input asp-for="BankAccountID" data-fill="port" class="form-control" />
                <span asp-validation-for="BankAccountID" class="text-danger"></span>
            </td>
        </tr>
    </table>

    <br>
    <div class="order-1">
        <button id="SaveButton" type="submit" class="btn btn-primary" name="command" value="Save">Save</button>
    </div>
</form>